nav ul,
nav h1,
nav ul li,
.history article,
.box-advantage,
.info-box,
.about-img,
.about-content {
  float: none;
  width: 100%;
}

.container ul {
  padding-left: 0;
}

.about-content h1,
.logo,
.contact .container h1,
.contact .container p {
  text-align: center;
}

.history .img {
  display: none;
}
